table,
tr {
  border-collapse: collapse;
  border: 1px solid rgb(163, 163, 163);
}
thead td {
  padding: 20px;
  width: 30px;
  min-width: 30px;
  text-align: center;
  background-color: rgb(250, 210, 242);
}

tbody td {
  padding: 20px;
  text-align: right;
  background-color: rgb(244, 229, 241);
}
table td:first-child {
  text-align: left;
  left: 0;
  position: sticky;
  background: white;
  border-right: 1px solid rgb(163, 163, 163);
  width: 117px;
  background-color: rgb(232, 229, 244);
}

table td:last-child {
  text-align: left;
  right: 0;
  position: sticky;
  background: white;
  border-left: 1px solid rgb(163, 163, 163);
  width: 117px;
  background-color: rgb(232, 229, 244);
}

table div {
  resize: both;
  overflow: auto;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  display: block;
}

td div {
  border: 0;
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;
}

input {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 5px;
  border-color: black;
}

input:focus {
  border-color: rgb(182, 182, 182);
}

button {
  background-color: transparent;
  border: unset;
  padding: unset;
  cursor: pointer;
}